/* Universal Selector */
*{
    overflow-x: hidden;
}

/* Header - Home */
.home{
    text-align: center;
}

.home_header{
    font-size: 2.2rem;
}

.header_btn{
    font-size: 15px;
    padding: 2px;
    width: max-content;
}

/* Hamburger */
.nav_bar {
    flex-direction: column;
    align-items: flex-start;
}

.name_title {
    display: flex;
    color: #5CDB95;
    font-size: 1.5rem;
    font-weight: 900;
    margin:0;
}

.toggle_button {
    display: flex;
}

.nav_links {
    display: none;
    width: 100%;
}

.nav_links ul {
    width: 100%;
    flex-direction: column;
}

.nav_links ul li {
    text-align: center;
}

.nav_links ul li a {
    padding: .5rem 1rem;
}

.nav_links.active {
    display: flex;
}

/* About */
.abt_text1{
    font-size: 1.5rem;
    width: 90%;
    margin-bottom: 4rem;
}

.abt_text2{
    font-size: 20px;
    width: 90%;
    margin-bottom: 11rem;
}

.cards{
    width: 100%;
}

.card_container{
    width: 100%;
    padding: 0;
}

/* Profile */
.profile{
    width: 10rem;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Cards */
.cards{
    flex-wrap: wrap;
}

#left_card,#right_card{
    border-radius: 0%;
}

#left_card,#right_card,#middle_card{
    border-radius: 5%;
}

/* Blog */
#blog{
    display: flex;
    height: 100%;
    width: 100%;
    background-color:#5CDB95;
    padding-bottom: 5rem;
}

#hide{
    display: block;
    background-color: #5CDB95;
    text-decoration: none;
}

.carousel{
    text-align: center;
}

/* Form */
.label, .contact_form, input[type=submit] {
    width: 100%;
    margin-top: 0;
}